DATABASE_URL=file:local.db

ORIGIN=""

BETTER_AUTH_SECRET=""

OPENAI_API_KEY=""

WEB_PUSH_SUBJECT="mailto:admin@example.com"
WEB_PUSH_VAPID_PUBLIC_KEY=""
WEB_PUSH_VAPID_PRIVATE_KEY=""

TDX_CLIENT_ID=""
TDX_CLIENT_SECRET=""
